body{
    margin: 0%;
    padding:0% ;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    border: 15px solid black;
    height: 550px;
    width: 380px;
    border-radius:25px ;
    position: relative;
    left: 450px;
    top: 15px;

}
.upper_p{
    /* border: 1px solid black; */
    height: 170px;
    width: 380px;
    position: relative;
    background-image: url(./blue-neon-frame-dark-background_53876-113902.avif);
    background-position: center;
    background-size: cover;

    

}

#result_p{
    /* border: 1px solid black; */
    height: 60px;
    width: 380px;
    position: absolute;
    /* overflow: scroll; */
    top: 100px;
}
#result{
    font-size: 50px;
    color: white;
    font-weight: 600;
    
}
#calc{
    /* border: 1px solid black; */
    border-bottom-style:dotted ;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    width: 372px;
    font-size: 30px;    
    position: relative;
    top: 60px;
    color: white;
    font-weight: 600;
}

/* buttons */
.lower_p{
    border-top: 6px solid black;
    height: 380px;
    width: 380px;
   position: relative;
    background-image: url(./images\ \(3\).jpg);
    background-position: center;
    background-size: cover;

}

.lower_p button{
    position: absolute;
    width: 75px;
    height: 60px;
    border: none;
    border-radius: 12px;
    font-size: 30px;
    font-weight: 800;
    color: #844BE1;
    background-color:rgb(250, 250, 250,0.6) ;
}

/* 1st row */
#divide{
 left: 290px;
 top: 30px;
}
#multiply{
 left: 290px;
 top: 100px;
}
#minus{
 left: 290px;
 top: 170px;
}
#plus{
 left: 290px;
 top: 240px;
}
#equal{
 left: 290px;
 top: 310px;
}
/* 2nd row */
#modulus{
 left: 195px;
 top: 30px;
}
#btn9{
 left: 195px;
 top: 100px;
}
#btn6{
 left: 195px;
 top: 170px;
}
#btn3{
 left: 195px;
 top: 240px;
}
#dot{
 left: 195px;
 top: 310px;
}
/* 3rd row */
#ac{
 left: 100px;
 top: 30px;
}
#btn8{
 left: 100px;
 top: 100px;
}
#btn5{
 left: 100px;
 top: 170px;
}
#btn2{
 left: 100px;
 top: 240px;
}
#btn0{
 left: 5px;
 top: 310px;
 width: 175px;
}

/* 4th row */
#clear{
 left: 5px;
 top: 30px;
}
#btn7{
 left: 5px;
 top: 100px;
}
#btn4{
 left: 5px;
 top: 170px;
}
#btn1{
 left: 5px;
 top: 240px;
}

 @media screen and (max-width:1024px){
    .main{
        left:200px ;
    }
}  
 @media screen and (max-width:768px){
   .main{ height: 450px;
    width: 300px;
   }
   .upper_p{
    height: 130px;
    width: 300px;
   }
   #result_p{
    height: 40px;
    width: 300px; 
    top: 60px;
   }
   #calc{
    height:25px ;
    width: 300px;
    top: 20px;      
   }
   .lower_p{
    height: 320px;
    width: 300px;
   }

.lower_p button{
    width: 50px;
    height: 45px;
    font-size: 25px;
} 
/* 1st row */
 #divide{
 left: 245px;
 top: 10px;
}
#multiply{
 left: 245px;
 top: 75px;
}
#minus{
 left: 245px;
 top: 140px;
}
#plus{
 left: 245px;
 top: 205px;
}
#equal{
 left: 245px;
 top: 270px;
}
/* 2nd row */
 #modulus{
 left: 170px;
 top: 10px;
}
#btn9{
 left: 170px;
 top: 75px;
}
#btn6{
 left: 170px;
 top: 140px;
}
#btn3{
 left: 170px;
 top: 205px;
}
#dot{
 left: 170px;
 top: 270px;
}
/* 3rd row */
 #ac{
 left: 90px;
 top: 10px;
}
#btn8{
 left: 90px;
 top: 75px;
}
#btn5{
 left: 90px;
 top: 140px;
}
#btn2{
 left: 90px;
 top: 205px;
}
#btn0{
 left: 10px;
 top: 270px;
 width: 130px;
}

/* 4th row  */
 #clear{
 left: 10px;
 top: 10px;
}
#btn7{
 left: 10px;
 top: 75px;
}
#btn4{
 left:10px;
 top: 140px;
}
#btn1{
 left: 10px;
 top: 205px;
}  
 } 
@media screen and (max-width:425px){
.main{
    left: 25px;
}
}
@media screen and (max-width:320px){
    .main{
        left: 0px;
    }

} 

